@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
    --primaria: #080E47;
    --secundaria: #FFF;
    --primariaFiltro: #091264c4;
    --secundariaFiltro: #ffffff88;

}

::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primaria);
    height: 20px;
    border-radius: 20px;
}

::-webkit-scrollbar-button {
    display: none;
}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: "Inria Sans", sans-serif;
    font-size: clamp(14px, 2vw + 1rem, 16px);
    font-weight: 400;
    font-style: normal;
    color: var(--primaria);
    transition: all ease 0.5s;
}

h1 {
    font-family: "Inria Sans", sans-serif;
    font-size: clamp(24px, 6vw + 2rem, 42px);
    font-weight: 700;
    font-style: normal;
    color: var(--primaria);
    transition: all ease 0.5s;
}

h2 {
    font-family: "Inria Sans", sans-serif;
    font-size: clamp(20px, 5vw + 1.5rem, 36px);
    font-weight: 600;
    font-style: normal;
    color: var(--primaria);
    transition: all ease 0.5s;
}

h4 {
    font-family: "Inria Sans", sans-serif;
    font-size: clamp(16px, 4vw + 1rem, 24px);
    font-weight: 500;
    font-style: normal;
    color: var(--primaria);
    transition: all ease 0.5s;
}

h5 {
    font-family: "Inria Sans", sans-serif;
    font-size: clamp(14px, 3vw + 0.5rem, 18px);
    font-weight: 400;
    font-style: normal;
    color: var(--primaria);
    transition: all ease 0.5s;
}


body {
    background-color: var(--secundaria);
    transition: background-color 0.3s, color 0.3s;
}

.title {
    font-family: "Inconsolata", monospace;
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    text-transform: uppercase;
    cursor: default;
    font-size: clamp(24px, 6vw + 2rem, 48px);
    transition: all ease 0.5s;
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.center-space-betwenn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line1-column {
    grid-column: 1;
}

.line2-column {
    grid-column: 2;
}

.line3-column {
    grid-column: 3;
}

.line1-row {
    grid-column: 1;
}

.line2-row {
    grid-row: 2;
}

.line3-row {
    grid-row: 3;
}

.wdt100 {
    width: 100%;
}

.hgt100 {
    height: 100%;
}

.cabecario {
    background-color: var(--primaria);
    height: 150px;
    padding: 12px;
    display: grid;
    grid-template-columns: 6fr 8fr 2fr;
    transition: all ease 0.5s;
}

.cabecario p {
    color: var(--secundaria);
}

.cabecarioEsquerda {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecarioMid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.8vw;
}

.cabecarioMid h4 {
    color: var(--secundaria);
    transition: all ease 0.3s;
    cursor: pointer;
}

.cabecarioMid h4:hover {
    color: rgb(88, 167, 199);
}

.cabecarioDireita {
    min-width: 8vw;
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    transition: background-color 0.3s, color 0.3s;
}

.main {
    grid-column: 2;
}

#inicio {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 8fr 7fr;
    grid-template-rows: 3fr 7fr;
    min-height: 100vh;
}

.ftoPrincipal {
    border: 8px solid var(--primaria);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: all ease 1s;
}

.ftoPrincipal:hover {
    transform: scale(1.01);
}

.ftoPrincipal:hover img {
    transform: scale(1.05);
}

.ftoPrincipal img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px -101px;
    transition: all ease 1s;
}

.labelSejaBemVindo {
    text-align: center;
}

#skills {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 3fr 6fr;
}


#welcome2 {
    opacity: 0;
    transition: opacity 2s ease;
}

#textHabilidades {
    opacity: 0;
    transition: opacity 2s ease;
    padding: 14px;
}

.languagensMoreCards {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    grid-template-rows: 1fr 4fr;
}

#languagesAndSoftwares {
    opacity: 0;
    transition: opacity 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLingaugens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    column-gap: 32px;
}

#cardSkills {
    position: relative;
    width: 175px;
    height: 225px;
    border-radius: 20px;
    box-shadow: -1px 10px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: all 0.5s ease-in;
    cursor: pointer;
    margin-bottom: 50px;
    background-color: #1a28a1;
    opacity: 0;
    transition: opacity 2s ease;
}

#cardSkills.dark {
    position: relative;
    width: 175px;
    height: 225px;
    border-radius: 20px;
    box-shadow: -1px 10px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: all 0.5s ease-in;
    cursor: pointer;
    margin-bottom: 50px;
    background-color: wheat;
}

#cardSkills img {
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
    transition: all 0.5s ease-in;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secundariaFiltro);
    color: var(--primariaFiltro);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    border-radius: 20px;
    border: 4px solid var(--primariaFiltro);
}

.overlay h4 {
    font-weight: 700;
}

#cardSkills:hover .overlay {
    opacity: 1;
}

#cardSkills:hover img {
    opacity: 0.3;
}


/* Nao mexer */

.checkbox {
    opacity: 0;
    position: absolute;
}

#mudarTema {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

#label1 {
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 58px;
    height: 24px;
    position: relative;
    top: 2px;
    left: 2%;
    transform: scale(1.5);
}

#label1.dark {
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 58px;
    height: 24px;
    position: relative;
    top: 2px;
    left: 2%;
    transform: scale(1.5);
}

.fa-moon {
    color: #060707;
    font-size: 28px;
    position: relative;
    top: 22px;
    transform: translateY(0);
    opacity: 0;
}

.fa-sun {
    color: #e4c318;
    font-size: 28px;
    position: relative;
    top: 22px;
    transform: translateY(-100%);
    opacity: 1;
}

.icon-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-moon,
.fa-sun {
    position: absolute;
    transition: all 1.2s ease;
}

#label1.dark .fa-moon {
    transform: translateY(-100%);
    opacity: 1;
}

#label1.dark .fa-sun {
    transform: translateY(0);
    opacity: 0;
}

#projects {
    display: grid;
    grid-template-rows: 3fr 7fr;
    min-height: 100vh;
}

.projetosContainer {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.cardProjetos {
    height: 225px;
    width: 100%;
    box-shadow: -1px 10px 15px rgba(0, 0, 0, 0.5);
}


/* Responsividade */

@Media(max-width: 1814px) {
    .containerLingaugens {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #skills {
        min-height: 100vh;
        grid-template-rows: 2fr 6fr;
    }

    #projects {
        min-height: 100vh;
    }

    .containerLingaugens {
        gap: 24px;
    }

    #cardSkills.dark {
        height: 200px;
        margin-bottom: 24px;
    }

    #cardSkills {
        height: 200px;
        margin-bottom: 24px;
    }

    #cardSkills img {
        min-width: 75px;
        min-height: 75px;
        max-width: 200px;
        max-height: 200px;
    }
}

@Media(max-width: 1268px) {
    .labelSejaBemVindo {
        font-size: 20px;
    }
}

@media (max-width: 1082px) {
    .cabecario {
        grid-template-columns: 4fr 2fr;
        grid-template-rows: 3fr 1fr;
        gap: 2vw;
    }

    .cabecarioEsquerda {
        grid-column: 1;
        grid-row: 1;
    }

    .cabecarioMid {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .cabecarioDireita {
        grid-column: 2;
        grid-row: 1;
    }

    .labelSejaBemVindo {
        font-size: 18px;
    }
}

@Media(max-width: 870px) {
    #inicio {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2.5fr;
    }

    #projects {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2.5fr;
    }

    .paiFtoPrincipal {
        grid-column: 1 /span 2;
        grid-row: 2;
    }

    .paiTextWelcome {
        grid-column: 1 /span 2;
        grid-row: 3;
    }

    .ftoPrincipal {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 660px) {
    .cabecario {
        grid-template-columns: 4fr 1fr;
    }

    .labelSejaBemVindo {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    h1 {
        font-size: clamp(24px, 5vw + 1.5rem, 40px);
    }

    .ftoPrincipal {
        width: 225px;
        height: 225px;
    }

    #cardSkills {
        width: 150px;
        height: 175px;
    }

    #cardSkills.dark {
        width: 150px;
        height: 175px;
    }
}

@media (max-width: 598px) {
    h4 {
        font-size: clamp(16px, 3vw + 1rem, 20px);
    }

    h5 {
        font-size: clamp(12px, 2vw + 0.5rem, 16px);
    }

    p {
        font-size: clamp(10px, 1.5vw + 0.5rem, 12px);
    }

    #paragrafoTema {
        font-size: clamp(12px, 2vw + 0.5rem, 16px);
    }

    .fa-moon,
    .fa-sun {
        font-size: clamp(20px, 3vw + 1rem, 24px);
    }

    .title {
        font-size: 36px;
    }

    h1 {
        font-size: clamp(22px, 4vw + 1rem, 36px);
    }

    .ftoPrincipal {
        width: 200px;
        height: 200px;
    }

    .ftoPrincipal img {
        object-position: 0px -101px;
    }

    .containerLingaugens {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    #languagesAndSoftwares {
        font-size: 30px;
    }
}


/* Propriedades do efeito */


.slide-in {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 2s forwards;
}

.slide-in-right {
    opacity: 0;
    transform: translateX(100%);
    animation: slide-in 2s forwards;
}

.slide-in-top-to-back {
    opacity: 0;
    transform: translatey(-100%);
    animation: slide-in 2s forwards;
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-top-to-back {
    to {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes slide-in-right {
    to {
        opacity: 1;
        transform: translatey(0);
    }
}